[user]
	name = Alejandro Mery
	email = amery@geeks.cl

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	ci = commit
	co = checkout
	st = status
	cp = cherry-pick
	ls = ls-files
[push]
	default = simple
