[user]
	name = Alejandro Mery
	email = amery@geeks.cl

[color]
	ui = auto
	interactive = auto
	diff = auto
	status = auto
	branch = auto
	grep = auto

[alias]
	ci = commit
	co = checkout
	st = status
	cp = cherry-pick
	ls = ls-files
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	amend = commit --amend --no-edit
	fixup = commit --fixup
	squash = commit --squash
	autosquash = rebase -i --autosquash
	please = push --force-with-lease

[push]
	default = tracking
[diff]
	algorithm = patience

[diff "bin"]
	textconv = hexdump -v -C
