[user]
	name = Alejandro Mery
	email = amery@geeks.cl

[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto

[alias]
	ci = commit
	co = checkout
	st = status
	cp = cherry-pick
	ls = ls-files
	tree = log --graph --decorate --pretty=oneline --abbrev-commit

[push]
	default = tracking
[diff]
	algorithm = patience
